<div class="jumbotron main-container">
      
         <h1 id='welcome'><br />PollVote</h1>
         <p class="subtitle">Please login if you want to create a new poll</p><br />
         <div id="main-btns" class="hide">
         <a href='/mypolls' class ="btn btn-success btn-poll">My Polls</a>
         <a href='/newpoll' class = "btn btn-warning btn-poll">New Poll</a>
         </div> 
   </div>