<!DOCTYPE html>
<html>

<head>
   <title>Voting App</title>
   <link href="/public/styles/css.css" rel="stylesheet" type="text/css">
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>

<body>
	 <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/"><span><img src="//raw.githubusercontent.com/chrisdinant/hello-world/master/logo%20trans.png" width="20px"> </span>PollVote</a>
         </div>
         <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
               <li><a href="/signup"><span class="glyphicon glyphicon-log-in"></span> Signup</a></li>
               <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
         </div>
      </div>
   </nav>
<div class="row">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<div class="login">
       	<h2>VotePoll login</h2>
       	<div class="row">
       		<div class="col-xs-12 col-sm-6">
       			<div class= "social-cont">
           <a href="/auth/github">
				<div class="btn login-btn" id="gi-login-btn">
					<img src="/public/img/github.png" alt="github logo" />
					<p>Continue with github</p>
				</div>
			</a>
			<br />
			<a href="/auth/facebook">
				<div class="btn login-btn" id="fb-login-btn">
					<img src="/public/img/facebook.png" alt="facebook logo" />
					<p>Continue with facebook</p>
				</div>
			</a>
			<br />
			<a href="/auth/google">
				<div class="btn login-btn" id="go-login-btn">
					<img src="/public/img/google.png" alt="google logo" />
					<p>Continue with google</p>
				</div>
			</a>
			</div>	
       		</div>
       		<div class="col-xs-12 col-sm-6">
       			<div class="local-cont">
				<form action="/login" method="post">
					
					<div class="form-group">
						<label>Email</label>
						<input type="text" class="form-control" name="email">
					</div>
				
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control" name="password">
					</div>
					<% if ( loginMessage.length > 0 ) { %>
						<p><%= loginMessage %></p>
					<% } %>
					<button type="submit" class="btn btn-default">Login</button>
				</form>
			</div>
       		</div>
       	</div>
       	<div class="row">
       		<br />
       		<p>Need an account? <a href="/signup">Signup</a></p>
       		<a href="/">
				<div class="btn btn-default home-btn">
					<p>Home</p>
				</div>
			</a>
       	</div>
	</div>
	</div>
</div>  
    

</body>


</html>
