<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>
<header>
    <% include ../partials/header %>
</header>

<main>
<div class="jumbotron main-container">
      
         <h1 id='welcome'><br />PollVote</h1>
         <p>What do you want to see?</p><br />
         <a href='/polls' class= "btn btn-danger btn-poll">All Polls</a>
         <a href='/mypolls' class ="btn btn-success btn-poll">My Polls</a>
         <a href='/newpoll' class = "btn btn-warning btn-poll">New Poll</a>
      
   </div>
   
   <div id="pollDiv">
       <ul>
           <% pollArr.forEach(function(poll){ %>
           <li><a href = '/polls/<%= poll.poll.question %>' class = "btn btn-default"> <%= poll.poll.question %></a> </li> 
           <% }); %>
       </ul>
       
   </div>
   
   </main>
   
   <script type="text/javascript" src="front/ajax.js"></script>
</body>
</html>