<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>
<header>
    <% include ../partials/header %>
</header>

<main>
<div class="jumbotron main-container">
      
        <h1>Profile</h1>
    <div class='profile-details' id='profile'></div>
	
	<a href="/" class="btn btn-default home-btn" role='button'>Home</a>
	</div>
</main>	
   <script type="text/javascript" src="front/profile.js"></script>
   
   <script type="text/javascript" src="front/ajax.js"></script>
</body>
</html>