<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>
<header>
    <% include ../partials/header %>
</header>

<main>
<div class="jumbotron main-container">
      
         <h1 id='welcome'><br />PollVote</h1>
         <p>What do you want to see?</p><br />
         <a href='/polls' class= "btn btn-danger btn-poll">All Polls</a>
         <a href='/mypolls' class ="btn btn-success btn-poll">My Polls</a>
         <a href='/newpoll' class = "btn btn-warning btn-poll">New Poll</a>
      
   </div>
<div class= "row showpollcont"> 
<div class="col-xs-12 col-md-5 col-md-offset-1">

<h1 class="question"><%= question %></h1>

<ul class ="optionlist">
    <% options.forEach(function(option){ %>
    <li><a class= "upvote" id="<%= option.body %>"><%= option.body %></li><li class="votes"></a> votes: <%= option.votes %></li>
    <% }); %>
</ul>

    
</div>
</div> 

</main> 
   <script type="text/javascript" src = "../front/showPoll.js"></script>
   <script type="text/javascript" src="../front/ajax.js"></script>
</body>
</html>