<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>
<header>
    <% include ../partials/header %>
</header>

<main>
<div class="jumbotron main-container">
      
         <h1 id='welcome'><br />PollVote</h1>
         <p>Please login if you want to create a new poll</p><br />
         <a href='/polls' class= "btn btn-danger btn-poll">All Polls</a>
      
   </div>
</main> 
   
   <script type="text/javascript" src="front/ajax.js"></script>
</body>
</html>