body {
  padding: 0px;
  margin: 0px;
}

.navbar {
  font-family: Raleway, Sans-Serif;
  font-size: 18px !important;
  color: #404040 !important;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-nav li a:hover,
.navbar-nav .active a {
  background-color: #404040 !important;
  color: #fff !important;
}

.main-container {
  font-family: Raleway, Sans-Serif;
  padding-top: 80px;
  text-align: center;
  background-color: #404040 !important;
  color:#fff !important;
  overflow: hidden;
}

.btn-poll {
  width: 140px;
  margin: 3px !important;
}


/****** Login Styling ******/

.login {
  font-family: Raleway, Sans-Serif;
  margin: 80px auto 100px auto;
	text-align: center;
	width: 100%;
	height: 300px;
	/*border: 1px solid;
  border-color: #404040;
  border-radius: 5px;*/
}



.social-cont {
  
}

.local-cont {
 
}

.login-btn {
  width: 250px;
	padding: 7px 5px;
	margin: 2px !important;
	border: 1px solid #ccc !important;
	background-color: #fff;
	
}

.login-btn p:link {
  color: #404040 !important;
}

.login-btn p {
	margin: 8px 0 0 0;
	padding: 0;
}

.btn > img {
	float: left;
	margin-left: 10px
}


/****** Profile Styling ******/


.profile-details {
  font-family: Raleway, sans-serif;
  margin: 0px auto 20px auto;
  text-align: left !important;
  padding: 10px;
  width: 250px;
  color: ¤404040;
  border: 1px solid #404040;
  border-radius: 3px;
}

.home-btn {
  margin: auto;
  padding: 5px;
  width: 200px;
  text-align: center;
  
}

/************New Poll Styling************/

.poll-setup {
  font-size: 18px;
  text-align:left;
}

.add-option {
  background-color: #404040;
  border: none;
  text-decoration: none;
  font-size: 28px;
  float:left;
  outline:0;
}

.remove-option {
  display: none;
  background-color: #404040;
  border: none;
  text-decoration: none;
  font-size: 28px;
  float:right;
  outline:0;
}


input[name=question], input[name=option]{
  margin: 5px;
  padding: 6px 12px;
  color: #404040;
  width: 100%;
}